# Python
__pycache__/
*.pyc
.venv/
venv/

# FastAPI
.env

# Angular
node_modules/
dist/

# VS Code
.vscode/

# macOS
.DS_Store

# Database
*.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Alembic
alembic/versions/*.pyc
